@model Errand

@{
    Layout = "_InvestigatorLayout";
}

<!-- Detaljsidan som handläggare ser när den går in på ett ärende -->
<!-- Möjlighet att redigera ett ärende och lägga till mer information -->

<h2>Detaljer för ärendet</h2>
	<p class="info">Du är inloggad som handläggare</p>

	@await Component.InvokeAsync("CaseDetails", ViewBag.Id)
				
	<section id="bottomColumn">
		<h3>Redigera ärende</h3>

		<form asp-controller="Investigator" asp-action="UpdateErrand" method="post" enctype="multipart/form-data" multiple>
			<input type="hidden" asp-for="ErrandId" />
			<p class="label">Ytterligare information:</p>
			<textarea name="InvestigatorInfo" rows="5" cols="60"></textarea>

			<p class="label">Händelser:</p>
			<textarea name="InvestigatorAction" rows="5" cols="60"></textarea>

			<p class="label">Prover:</p>
			<input asp-for="Samples" type="file" name="evidenceSample"/>

			<p class="label">Ladda upp bilder:</p>
			<input asp-for="Pictures" type="file" name="evidencePicture" />

			<p class="label">Ändring av status:</p>
			<select asp-for="StatusId" asp-items="@(new SelectList(ViewBag.StatusList, "StatusID", "StatusName"))">
				<option selected="selected">Välj</option>
			</select>

			<p>
				<input class="button" type="submit" value="Spara ändringarna" />
			</p>
		</form>
	</section>