@using Miljoboven4.ViewModels

@model InvestigatorViewModel

@{
    Layout = "_InvestigatorLayout";
}

<!-- Startsidan för handläggare där alla ärenden visas -->

<h2>Ärenden</h2>
<p class="info">Du är inloggad som handläggare</p>

<!-- Filtrering av ärenden -->
<form asp-action="StartInvestigator" asp-controller="Investigator" method="post">
	<table id="managerForm">
		<tr>
			<td class="label">Välj status:</td>
			<td>&nbsp;</td>
			<td class="label">Ärendenummer:</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
				<select name="status">
					<option selected="selected">Välj alla</option>

					@foreach (var status in Model.ErrandStatuses)
					{
						<option value="@status.StatusName">@status.StatusName</option>
					}
				</select>
			</td>
			<td><input class="button" type="submit" value="Hämta lista" /></td>
			<td><input name="casenumber" placeholder="Sök efter ärendenummer"/></td>
			<td><input class="button" type="submit" value="Sök" /></td>
		</tr>
	</table>
</form>						

<!-- Nedan ser man en lista på ärenden, hämtas med ErrandTable ViewComponent -->
@await Component.InvokeAsync("ErrandTable", new
	{
		errands = Model.Errands,
		controller = "Investigator",
		action = "CrimeInvestigator"
	})

