@model Errand

@{
	Layout = "_ManagerLayout";
}

<!-- Om "Ingen åtgärd" har valts för ärendet -->
@{
	bool noAction = false;
	if (ViewBag.StatusId == "S_B")
	{
		noAction = true;
	}
}

<!-- Detaljsidan som chefer ser när den går in på ett ärende -->
<!-- Möjlighet att tilldela handläggare -->

<h2>Detaljer för ärendet</h2>
	<p class="info">Du är inloggad som avdelningschef</p>

	@await Component.InvokeAsync("CaseDetails", ViewBag.Id)

	<section id="bottomColumn">
		<h3>Redigera ärende</h3>

		<form asp-controller="Manager" asp-action="UpdateErrand" method="post">
			<input type="hidden" asp-for="ErrandId" />
			<p>
				Ange handläggare:
				<select asp-for="EmployeeId" asp-items="@(new SelectList(ViewBag.EmployeeList, "EmployeeId", "EmployeeName"))">
					<option selected="selected">Välj</option>
				</select>
			</p>
			<p>
				<input type="checkbox" name="noAction" value="true" checked="@noAction"/> Ingen åtgärd:
				<input type="text" name="reason" placeholder="Ange motivering"/>
			</p>
			<p>
				<input class="button" type="submit" value="Spara" />
			</p>
		</form>
	</section>