<h1>Access Denied</h1>

<!-- Sidan som visas om man försöker komma åt en sida man inte har rätt att se -->

<h2>Här får du inte vara</h2>

<p>
    <a asp-controller="Account" asp-action="Login">Inloggning</a>
</p>

