@model Errand

@{
    Layout = "_CoordinatorLayout";
}

<!-- Detaljsidan som samordnare ser när den går in på ett ärende -->
<!-- Möjlighet att redigera vilken avdelning som ska hantera ärendet -->

<h2>Detaljer för ärendet</h2>
	<p class="info">Du är inloggad som samordnare</p>

	@await Component.InvokeAsync("CaseDetails", ViewBag.Id)

	<section id="bottomColumn">
		<h3>Redigera ärende</h3>

		<form asp-controller="Coordinator" asp-action="UpdateDepartment" method="post">
			<input type="hidden" asp-for="ErrandId" />
			<p>
				Ange enhet:
				<select asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.ListOfDepartments, "DepartmentID", "DepartmentName"))">
					<option selected="selected">Välj</option>
				</select>
			</p>
			<p><input class="button" type="submit" value="Spara" /></p>
		</form>
	</section>