@model Errand

@{
    Layout = "_CitizenLayout";
}

<!-- Startsidan där medborgare kan registrera ett miljöbrott -->

<section id="mainColumn">
	<h2>Välkommen att fylla i din anmälan av miljöbrott</h2>
	<p class="info">I Småstad är inga brott för små för att anmälas</p>
					
	<p>Fyll i formuläret nedan, alla rutor markerade med stjärna (*) måste fyllas i.</p>

	<form method="post" asp-controller="Citizen" asp-action="Validate">
		<p>
			<input type="hidden" name="isSubmitted" value="true" />
		</p>
		<p>
			<label class="label" asp-for="Place"></label><br />
			<input asp-for="Place"/> *
			<span asp-validation-for="Place"></span>
		</p>
		<p>
			<label class="label" asp-for="TypeOfCrime"></label><br />
			<input asp-for="TypeOfCrime" /> *
			<span asp-validation-for="TypeOfCrime"></span>
		</p>
		<p>
			<label class="label" asp-for="DateOfObservation"></label><br />
			<input asp-for="DateOfObservation"/> *
			<span asp-validation-for="DateOfObservation"></span>
		</p>
		<p>
			<label class="label" asp-for="InformerName"></label><br />
			<input asp-for="InformerName" /> *
			<span asp-validation-for="InformerName"></span>
		</p>

		<p>
			<label class="label" asp-for="InformerPhone"></label><br />
			<input asp-for="InformerPhone" /> *
			<span asp-validation-for="InformerPhone"></span>
		</p>
		<p>
			<label class="label" asp-for="Observation"></label><br />
			<textarea asp-for="Observation" rows="5" cols="16"></textarea>
		</p>
		<p>
			<input class="button" type="submit" value="Skicka in" />
		</p>
	</form>
</section><!-- End left -->